KEYCLOAK_SERVER_URL=http://localhost:8080/
KEYCLOAK_REALM=conecta-ufc
KEYCLOAK_CLIENT_ID=conecta-ufc-backend
KEYCLOAK_CLIENT_SECRET=sua_chave_aqui
FRONTEND_ORIGIN=http://localhost:5173

# Database
DATABASE_URL=postgresql://conecta_user:conecta_password@localhost:5432/conecta_db
